h1 {
  font-size: 40px;
  text-align: center;
  padding: 20px 20px 10px;
}

h2 {
  font-size: 25px;
  font-weight: normal;
  text-align: center;
  margin-bottom: 25px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 20px;
  list-style: none;
  line-height: 8px;
  font-size: 15px;
}

li:first-letter {
  text-transform: capitalize;
}

footer {
  text-align: center;
  margin: 0;
  padding: 0;
}

.container {
  border: 1px solid #a5a5a5;
  padding: 20px;
  max-width: 600px;
  margin: 25px auto 10px;
  border-radius: 15px;
}

/*
.weather-icon {
  font-size: 70px;
  margin: 0 5px 20px;
  padding: 0;
  line-height: 50px;
}
*/

.temperature-unit .temperature {
  font-size: 80px;
  margin: 0 0 20px;
  padding: 0;
  line-height: 50px;
}

.temperature-unit .units {
  margin: 0;
  padding: 0;
  position: relative;
  top: -45px;
  text-decoration-line: none;
}

.temperature-unit .active {
  color: black;
  cursor: default;
  text-decoration-line: none;
}

#celsius-link {
  text-decoration-line: none;
}

#fahrenheit-link {
  text-decoration-line: none;
}
